@charset "utf-8";


* {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
	'myArea myArea myArea myArea myArea myArea'
    'left main main main main right'
    'footer footer footer footer footer footer';
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.naslov{
	grid-area: header;
	margin: auto;
    width: 100%;
    padding: 10px;
	height: auto;
	
}

.podnaslov{
	grid-area: myArea;
	margin: auto;
    width: 50%;
    padding: 10px;
	height: auto;
}

.tekst{
	grid-area: main;
	margin: auto;
    width: 100%;
    padding: 10px;
	height: auto;
}
.link{
	grid-area: footer;
	margin: auto;
    width: 50%;
    padding: 10px;
	height: auto;
}

.slika1{
	grid-area: left;
	margin: auto;
    width: 10%;
    padding: 10px;
	height: auto;
	transform: rotate(-25deg);
	max-width: 10%;
    height: auto;
}

.slika2{
	grid-area: right;
	margin: auto;
    width: 10%;
    padding: 10px;
	height: auto;
	transform: rotate(25deg);
	max-width: 10%;
    height: auto;
}

h1 {
    color: deeppink;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110px;
    text-align: center;
}

h2{
	font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"wdth" 100;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

p{
	font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"wdth" 100;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

a {
	color: deeppink;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
